@media screen and (max-width: 1400px) {
    #signup {
        width: fit-content;
    }
}

@media screen and (max-width: 1200px) {
    #signup {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-link {
        font-size: 12px;
    }
    em {
        display: block;
        text-align: center;
        font-size: 20px;
        width: fit-content;
        margin: 6px 0;
    }
    h1 {
        display: block;
        text-align: center;
        font-size: 24px;
        width: fit-content;
        margin: 1px 0;
    }
}

@media screen and (max-width: 600px) {
    #signup {
        width: 100px;
    }
    .login-link {
        font-size: 12px;
    }
    em {
        display: block;
        text-align: center;
        font-size: 20px;
        width: fit-content;
        margin: 6px 0;
    }
    h1 {
        display: block;
        text-align: center;
        font-size: 24px;
        width: fit-content;
        margin: 1px 0;
    }
}